@charset "UTF-8";

    #telaG{
        height: 400px;
        width: 600px;
    }

    .imagem{
        padding-left: 10px;
        float: left;
        width: 400px;
        height: 500px;
    }

    .Titulo{
        margin-top: 40px;
    }

    .forms{
        float: right;
        width: 280px;
    }

    p{
        float: right;
        width: 350px;
    }

    form{
        float: right;
        width: 100%;
        margin-right: 30px;
        
    }

    .campo1{
        width: 281px;
    }

    .campo2{
        width: 281px;
    }
