@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.imagem{
    background-image: url(../imagens/pexels-mohamed-almari-1485894.jpg);
    height: 250px;
    background-position: right top;
    background-size: cover;
    display: block;
}

body{
    background-color: blueviolet;
    background-image: linear-gradient(to top, #7012DE, #B312DE, #DE12B2, #DE5CC2);
} 

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#telaG{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 550px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    overflow: hidden;
}

h1{
    text-align: center;
    padding: 10px;
}
p{
    text-align: center;
    padding: 10px;
    display: block;
}

.forms{
    display: block;
}

form{
    text-align: center;
    margin: 10px;
    display: block;
}


.entrar{
    text-align: center;
    width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #DE12B2;
    display: block;
    border-radius: 7px;
    text-decoration: none;
    color: white;
}

a{
    text-align: center;
    width: 230px;
    padding: 5px;
    background-color: #DE12B2;
    display: block;
    text-decoration: none;
    border-radius: 7px;
    color: white;
}

.entrar:hover{
    background-color: black;
    color: white;
    transform: translate(2px, 2px);
    transition: transform .4 border .4 ;
    cursor: pointer;

}

a:hover{
    background-color: black;
    color: white;
    transform: translate(2px, 2px);
    transition: transform .4 border .4 ;

}
